
.asl_logo {
    margin-top: 4vh;
    height: 70vh;
    width: 55vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  .head2 {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    text-align: center;
    font-weight: bolder;
    font-size: 3rem;
    
  }

.grow {
    background-image: url("/assets/background.png");
}

  .grow img {
    transition: 1s ease;
  }
  
  .grow img:hover {
    transform: scale(0.9);
    transition: 1s ease;
  }
