.game {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("/assets/background.png");
}

.game h1 {
    font-size: 4rem;
    margin-top: 5vh;
}

.intro {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 10vh;
}

.game button{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    align-items: center;
    padding: 10px 10px;
    border: 2px solid black;
    
}

.game button:hover{
    background-color: #555555;
    color: white;
}

.gameStart {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.gameStart input {
    margin: 10px 10px;
}

.locationImage {
    height: 5vh;
    display: flex;
    width: auto;
    justify-content: center;
    padding-bottom: 10vh;
}

.buttonsGame {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
}

.response {
    margin-bottom: 10vh;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 10vh;
}

#textContainer2 {
    text-align: center;
}

#playButton2 {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 1rem;
    border-radius: 0;
    font-weight: bolder;
    border: 2px solid black;
  
}
#playButton {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    border: 2px solid black;
  
}
h1{
    text-decoration: underline;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    text-underline-offset: 15px;
}